.hero-image {
  width: 100%;
}

.hero-image-container {
  padding-top: $top-nav-height;
  position: relative;
  // display: flex;
}

// .hero-image-text-container {
//   margin: auto;
// }


.hero-image-text-container {
  width: 100%;
  position: absolute;
  padding-top: $top-nav-height;
  top: 48.5%;
  transform: translateY(-50%);
  text-align: center;
  h1,
  h2,
  h3,
  p,
  a {

  }
  a {
    background: $color-biege;
    width: 210px;
    padding: 12px 15px;
    border-radius: 15px;
    color: $color-white;
    display: block;
    margin: 10px auto;
  }
  p {
    width: $mobile-content-width;
    margin: auto;
  }
}

@media only screen and (min-width: $break-phone) {
  .hero-image-text-container {
    top: 48.5%;
    a {
      width: 229px;
    }
  }
}

@media only screen and (min-width: $break-desktop) {
  .hero-image-text-container {
    p {
      width: $desktop-content-width;
    }
  }
}
