.site-content-wrapper {
  width: $mobile-content-width;
  margin: auto;
}

@media only screen and (min-width: $break-phone) {

}

@media only screen and (min-width: $break-desktop) {
  .site-content-wrapper {
    width: $desktop-content-width;
  }
}
