.site-content-wrapper {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: $break-phone) {

}

@media only screen and (min-width: $break-desktop) {
  .site-content-wrapper {
    width: 900px;
  }
}
