* {
  box-sizing: border-box;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.hidden-block {
  display: none;
}

.visible-block {
  display: block;
}

.border-bottom {
  border-bottom: 2px solid $color-biege;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

@media only screen and (min-width: $break-phone) {

}

@media only screen and (min-width: $break-desktop) {

}
