button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: $color-black;
  font-size: rem(20px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-black;
}

@media only screen and (min-width: $break-phone) {

}
@media only screen and (min-width: $break-desktop) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(40px);
  }
}
