$break-phone: 768px;
$break-desktop: 1150px;
$color-black: #1a272c;
$color-white: #fff;
$color-gray: #aaa;
$color-green: #747474;
$color-biege: #eacab1;
$color-light-brown: #c3b6ab;
$color-brown: #9b8573;
$top-nav-height: 80px;
$color-facebook-blue: #3a589b;
$color-instagram-blue: #517fa6;
$color-twitter-blue: #598dca;
$mobile-content-width: 90%;
$desktop-content-width: 900px;
$font-main-heading: 'Broadway';
$font-cursive: 'Dancing Script';
$font-body-text: 'Caviar Dreams';
