$break-phone: 768px;
$break-desktop: 1024px;
$color-black: #1a272c;
$color-white: #fff;
$color-gray: #aaa;
$color-green: #747474;
$color-biege: #eacab1;
$color-light-brown: #c3b6ab;
$color-brown: #9b8573;
$top-nav-height: 80px;
